.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  
  .horizontal {
    flex-direction: row;
    grid-row: span 1;
    grid-column: span 2;
  }

  .card__content {
    padding: 16px;
}

.card__type {
    font-variant: small-caps;
    letter-spacing: 2px;
    opacity: 0.9;
    color: palevioletred;
    padding-bottom: 0.5em;
}

.card__title {
    font-size: 18px;
    opacity: 0.8;
    font-weight: 700;
    padding-bottom: 0.5em;
    transition: all 0.25s ease;
}

.card__date {
    font-size: 14px;
    padding-bottom: 0.5em;
    opacity: 0.3;
}

.card__excerpt {
    font-size: 16px;
    padding-bottom: 0.5em;
}

.card__img{
  width: 20%;
  height: auto;
}




.contact-title {
  font-size: 20px;
  font-weight: 400;
  color: #2E2D2D;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
.main-wrap{
  padding: 40px 0;
}

.contact-title span {
  color: #21b9b8;
}

.main-wrap .form-group {
  margin-bottom: 1rem;
}

.main-wrap .form-group label{
  display: inline-block;
  margin-bottom: 0.5rem

}

.rd-mailform .form-control {
  border-radius: 0;
  height: 40px;
  border: 1px solid #ADADAD;
}

.main-wrap{
  padding: 40px 10px;
}

.left-contact{
  box-shadow: 0 0 6px 0px black;
  padding: 24px 20px;
}

.btn-send {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #595b83;
  margin: 15px 0 0;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}


/* Add this CSS in your Subcategories.css file or a separate CSS file */
.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff; /* Set your desired background color */
  color: #fff; /* Set text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1; /* Ensure it's above other content */
}
